.container {
    margin: 0;
    max-width: 100%;
    padding: 1%;
    background-color: transparent;
    text-align: justify;
}

.container span {
    text-decoration: underline;
    font-style: oblique;
    color: rgb(174, 26, 26);
}

.container div {
    position: relative;
    display: flex;
    justify-content: space-around;
}

.stress {
    color: #DC2F02;
}

@supports (display: flex) {
    @media screen and (min-width: 280px) {
        .container {       
            font-size: medium;                 
            min-height: 27rem;
            margin-left: 5%;
            margin-right: 5%;
        }
    }
    @media screen and (min-width: 361px) {
        .container {                 
            min-height: 31rem;
        }
    }
    @media screen and (min-width: 1024px) {
        .container {
            font-size: large;
            min-height: 33.5rem;
        }
    }
}